table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    margin-top: 0;
    margin-bottom: 16px;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

tr {
    background-color: #111;
    border-top: 1px solid #555;
}

tr:nth-child(2n) {
    background-color: #222;
}

td,
th {
    padding: 6px 13px;
    border: 1px solid #666;
}

th {
    font-weight: 600;
}

table img {
    background-color: transparent;
}
