# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
package-lock.json

node_modules
dist
dist-ssr

scripts/*.csv
scripts/*.json
scripts/*.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/stats.html
public/version.json
public/sitemap.txt
public/sitemap.xml
public/data/*

src/data/dancache/*
src/data/linkCache.json
/public/test
src/data/data.json
src/data/rafl.json
.env.keys
src/data/data.json
src/data/lockStats.json
/allure-report
/allure-results
/playwright-report
