name: Build-N-Deploy

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/**'
      - 'public/**'
      - 'scripts/**'
      - 'index.html'
      - 'package.json'
      - '.github/workflows/build.js.yml'
  workflow_run:
    workflows: [Import]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy:
    name: Build-N-Deploy
    environment: github-pages
    permissions:
      contents: write
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build and Deploy
        run: yarn ci-build
        env:
          VITE_FIREBASE_API_KEY: ${{ vars.VITE_FIREBASE_API_KEY }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          
